.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 1280px;
    min-height: 550px;
  }
  
  .appMain {
    display: flex; 
    flex: 1;
    justify-content: center;
    height: 100%;
    overflow: auto;
  }

  .appHeader {
    background: var(--background);
  }
  
