.ingredientItemsContainer {
    height: 100%;
    overflow: auto;
}

.ingredientGroupContainer {
    display: flex;
    flex-wrap: wrap;
}

.ingredientGroupItemContainer {
    width: calc(50% - 28px);
}