.modalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.modalContent {
    border-radius: var(--common-border-radius);
    width: 750px;
    background: var(--background-alt);
    position: relative;
    margin: auto;
    cursor: auto;
    border: 1px solid #FFFFFF23;
    z-index: 3;
    height: fit-content;
}

.modalHeaderContainer {
    display: inline-flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.modalHeader {
    width: 100%;
}

.closeButtonWithoutHeader {
    position: absolute;
    top: 0;
    right: 0;
}

.modalDataContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.closeButtonContainer:hover {
    cursor: pointer;
}