.ingredientItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ingredientItemContainer:hover {
    background: #FFFFFF07;
    cursor: pointer;
}

.ingredientItemImage {
    width: calc(100% - 32px);
}

.ingredientItemCost {
    display: inline-flex;
}

.ingredientItemText {
    width: 100%;
    text-align: center;
    height: 50px;
    overflow: hidden;
}

@supports (-webkit-line-clamp: 2) {
    .ingredientItemText {
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}