.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

.section {
    display: flex;
    flex: 1;
}

.logoSection {
    justify-content: center;
}

.rightSection {
    justify-content: right;
}