.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 1600px;
    max-width: 2680px
}

.section {
    display: flex;
    flex: 1;
}

.logoSection {
    justify-content: center;
}

.rightSection {
    justify-content: right;
}

.headerButtonContainer {
    display: inline-flex;
    align-items: center;
    border-radius: var(--common-border-radius);
}