.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 100%;
    max-width: 2680px;
}

.section {
    display: flex;
    flex: 1;
}

.logoSection {
    justify-content: center;
}

.rightSection {
    justify-content: right;
}

.headerButtonContainer {
    display: inline-flex;
    align-items: center;
    border-radius: var(--common-border-radius);
}


  
@media (min-width: 1500px)  {
    .section {
      margin-left: calc(var(--offset-base-size) * 20) !important;
    }
    .rightSection {
      margin-right: calc(var(--offset-base-size) * 20) !important;
    }
  }

  @media (min-width: 1900px)  {
    .section {
      margin-left: calc(var(--offset-base-size) * 25) !important;
    }
    .rightSection {
      margin-right: calc(var(--offset-base-size) * 25) !important;
    }
  }
  @media (min-width: 2300px)  {
    .section {
      margin-left: calc(var(--offset-base-size) * 30) !important;
    }
    .rightSection {
      margin-right: calc(var(--offset-base-size) * 30) !important;
    }
  }